---
- name: "Playing with Ansible and Git"
  hosts: all
  connection: local
  become: "yes"

  tasks:
  ## settings
  - name: Enter arch-chroot localtime
    command: arch-chroot /mnt ln -s /usr/share/zoneinfo/Europe/Moscow /etc/localtime

  - name: Enter arch-chroot hwclock
    command: arch-chroot /mnt hwclock --systohc --utc

  - name: Setup bootctl
    block:
      - name: Enter arch-chroot bootctl install
        command: arch-chroot /mnt bootctl install

      - name: Enter arch-chroot loader.conf
        command: arch-chroot /mnt rm /boot/efi/loader/loader.conf

      - name: Create loader.conf
        copy:
          content: 'default  arch'
          dest: /mnt/boot/efi/loader/loader.conf

      - name: Create arch.conf
        copy:
          content: |
            title Arch Linux Stage
            linux /vmlinuz-linux-lts
            initrd /initramfs-linux-lts.img
            options root=/dev/sdc2 rw
          dest: /mnt/boot/efi/loader/entries/arch.conf

  - name: Setup hostname
    block:
      - name: Set hostname
        copy:
          content: 'arch-stage'
          dest: /mnt/etc/hostname

      - name: Set localhost
        copy:
          content: |
            127.0.0.1 localhost arch-stage
            ::1 localhost arch-stage
          dest: /mnt/etc/hosts

  - name: Setup locales
    block:
      - name: Configure locale.gen
        lineinfile:
          dest: /mnt/etc/locale.gen
          regexp: '{{ item.regex }}'
          line: '{{ item.line }}'
        loop:
          - {regex: en_US\.UTF-8 UTF-8, line: en_US.UTF-8 UTF-8}
          - {regex: ru_RU\.UTF-8 UTF-8, line: ru_RU.UTF-8 UTF-8}
      - name: Create locale.conf
        copy:
          content: "LANG=en_US.UTF-8"
          dest: /mnt/etc/locale.conf
      - name: Generate locales
        command: arch-chroot /mnt export LANG=en_US.UTF-8
        command: arch-chroot /mnt locale-gen

  - name: Setup user account
    block:
      - name: Change root password
        user: name=root update_password=always password={{ user_password }}

      - name: Create user account
        command: arch-chroot /mnt useradd --create-home --user-group --groups wheel {{ user_name }} --password {{ user_password }}

      - name: Give passwordless sudo access to wheel group
        # copy:
        #   content: '%wheel ALL=(ALL) ALL'
        #   dest: /mnt/etc/sudoers.d/wheel
        #   validate: /usr/sbin/visudo --check --file=%s
        lineinfile:
          regexp: '{{ item.regex }}'
          line: '{{ item.line }}'
          dest: /mnt/etc/sudoers
        loop:
          - {regex: wheel ALL=(ALL) ALL, line: '%wheel ALL=(ALL) ALL'}

      - name: Chage pacman.conf
        lineinfile:
          regexp: '{{ item.regex }}'
          line: '{{ item.line }}'
          dest: /mnt/etc/pacman.conf
        loop:
          - {regex: Color, line: Color}
          - {regex: TotalDownload, line: TotalDownload}
          - {regex: VerbosePkgList, line: VerbosePkgList}
          - {regex: multilib, line: '[multilib]'}
          - {regex: Include = /etc/pacman.d/mirrorlist, line: Include = /etc/pacman.d/mirrorlist}

  - name: Install grub
    command: arch-chroot /mnt grub-install --target=x86_64-efi --efi-directory=/boot/efi --bootloader-id=GRUB
  - name: Create grub config
    command: arch-chroot /mnt grub-mkconfig -o /boot/grub/grub.cfg