---
- name: Setup grub
  when: user_password == user_password_check
  block:
    - name: Install grub
      command: arch-chroot /mnt grub-install --target=x86_64-efi --efi-directory=/boot/efi --bootloader-id=GRUB
    - name: Copying file arch
      copy:
        src: files/arch.jpg
        dest: /mnt/boot/grub/arch.jpg
    - name: Chage grub
      lineinfile:
        regexp: '{{ item.regex }}'
        line: '{{ item.line }}'
        dest: /mnt/etc/default/grub
      loop:
        - {regex: GRUB_BACKGROUND, line: GRUB_BACKGROUND="/boot/grub/arch.jpg"}
    - name: Create grub config
      command: arch-chroot /mnt grub-mkconfig -o /boot/grub/grub.cfg